{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block arrow_button %}
{% endblock %}

{% block body %}
<div class="container" align="center" style="position:relative;">
    <h1 style='margin-top: 8.5em;'>There Was An Error Processing Your Request</h1>
    <h4 style='margin-top: 0.75em;'>Error 500</h4>
    <form action="/" method="POST" style="margin-top: 3em;">
        <a href="/">
            <div id="button-1" style="background: #1DB954; border-radius: 1000px; padding: 20px 45px; color: #ffffff; display: inline-block; font: normal bold 24px/1 'Open Sans', sans-serif; text-align: center;">Home</div>
        </a>
    </form>
</div>
{% endblock %}