{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block arrow_button %}
<a href="#tracks" class="mouse-icon">
    <div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
</a>
{% endblock %}

{% block body %}
<div class="container" align="center" style="position:relative;">
    <h1 style='margin-top: 8.5em;'>{{ playlist_name }}</h1>
    <form action="#tracks" method="POST" style="margin-top: 3em;">
        <a href="#tracks">
            <div id="cssbutt" style="background: rgb(29, 185, 84); border-radius: 1000px; padding: 20px 45px; color: rgb(255, 255, 255); display: inline-block; font: bold 24px / 1 &quot;Open Sans&quot;, sans-serif; text-align: center;">View Tracks</div>
        </a>
    </form>
</div>
<div class="limiter" align="center" id="tracks" style="margin-top:25em;">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100 ver1 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                            <tr class="row100 head">
                                <th class="cell100 column1">#</th>
                                <th class="cell100 column2">Track Name</th>
                                <th class="cell100 column3">Track Artist</th>
                                <th class="cell100 column4">Release Date</th>
                                <th class="cell100 column5">Added At</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll">
                    <table>
                        <tbody>
                            {% for track in tracks['items'] %}
                            <tr class="row100 body">
                                <td class="cell10 column1">{{ loop.index }}</td>
                                <td class="cell100 column2">{{ track['track']['name'] }}</td>
                                <td class="cell100 column3">{{ track['track']['artists'][0]['name'] }}</td>
                                <td class="cell100 column4">{{ track['track']['album']['release_date'] }}</td>
                                <td class="cell100 column5">{{ track['added_at'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<section align="center" class="section" id="sort-options">
    <h1>Sort Options</h1>
    <div class="container" style="margin-top: 2em; margin-bottom: 1em;">
        <a href = "/playlists/{{ index }}/alphabetical-az"><div id="cssbutt" style="background: #1db954; border-radius: 11px; width: 325px; height: 60px; color:  #ffffff; display: inline-block; font: normal bold 16px/60px 'Open Sans', sans-serif; text-align: center; margin-top: 0.25em;">Alphabetical (A-Z)</div></a>
        <a href = "/playlists/{{ index }}/alphabetical-za"><div id="cssbutt" style="background: #1db954; border-radius: 11px; width: 325px; height: 60px; color:  #ffffff; display: inline-block; font: normal bold 16px/60px 'Open Sans', sans-serif; text-align: center; margin-top: 0.25em;">Alphabetical (Z-A)</div></a>
        <a href = "/playlists/{{ index }}/release_date-chronological"><div id="cssbutt" style="background: #1db954; border-radius: 11px; width: 325px; height: 60px; color:  #ffffff; display: inline-block; font: normal bold 16px/60px 'Open Sans', sans-serif; text-align: center; margin-top: 0.25em;">Release Date (Chronological)</div></a>
        <a href = "/playlists/{{ index }}/release_date-non_chronological"><div id="cssbutt" style="background: #1db954; border-radius: 11px; width: 325px; height: 60px; color:  #ffffff; display: inline-block; font: normal bold 16px/60px 'Open Sans', sans-serif; text-align: center; margin-top: 0.25em;">Release Date (Non Chronological)</div></a>
        <a href = "/playlists/{{ index }}/added_at"><div id="cssbutt" style="background: #1db954; border-radius: 11px; width: 325px; height: 60px; color:  #ffffff; display: inline-block; font: normal bold 16px/60px 'Open Sans', sans-serif; text-align: center; margin-top: 0.25em;">Added At</div></a>
</section>
{% endblock %}